*~
erl_crash.dump
*.beam
.eunit
/*.d
/.erlang.mk/rebar
deps/
Mnesia.nonode@nohost/
/log/
/logs/
test/*.beam
/doc/*.html
/doc/*.md
/doc/edoc-info
/doc/erlang.png
/doc/stylesheet.css
/doc/utf8/
/.rebar
/priv/Mnesia
/ebin
/.deps_plt
/priv/mibs/
/include/BKTEL-PHOTONICS-SMI.hrl
/include/EDFA-MIB.hrl
/include/SMM-MIB.hrl
#/priv/www/bower_components/
/rel/bkfw/
/debian/bkfw.debhelper.log
/debian/bkfw.substvars
/debian/bkfw/
/debian/bkfw.postinst.debhelper
/debian/bkfw.postrm.debhelper
/debian/bkfw.prerm.debhelper
/debian/cereal
/debian/files
/erlang-solutions_1.0_all.deb
/rel/dev/snmp/agent/db/snmpa_local_db1
/rel/dev/snmp/agent/db/snmpa_vacm.db
/rel/prod/snmp/agent/db/snmpa_local_db1
/rel/prod/snmp/agent/db/snmpa_vacm.db
/bkfw-*/
/bkfw-*.zip
/bkfw-*.source.tar.gz
/docker/esl-erlang*.deb
/_rel
#/relx
#/priv/.stamp-www
yocto/build/conf/sanity_info
yocto/meta-bkfw/recipes-bkfw/bkfw/files/bkfw.sources.tar.gz
yocto/build/bitbake-cookerdaemon.log
yocto/build/cache/
yocto/build/tmp/
