%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
{release, {bkfw, {semver, "1.3.0"}},
 [ bkfw ]
}.

{sys_config, "./rel/sys.config"}.

{extended_start_script, true}.

{include_erts, false}.

{overlay, [
           {mkdir, "log/sasl"},
		   {copy, "snmp", "snmp"},
		   {copy, "rel/snmp/agent/conf/agent.conf", "snmp/agent/conf/agent.conf"},
		   {copy, "rel/snmp/agent/conf/target_addr.conf", "snmp/agent/conf/target_addr.conf"}
          ]}.
