<div ng-controller="dashboardCtrl as dashboard">

  <h1 class="page-header">Dashboard</h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Mode</th>
          <th>Laser T&#186; (&#186;C)</th>
          <th>Laser current (A)</th>
          <th>Int. T&#186; (&#186;)</th>
          <th>Power level (dBm)</th>
          <th>PSU voltage (V)</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="edfa in dashboard.list">
          <td>{{ edfa.index }}</td>
          <td>{{ edfa.mode }}</td>
          <td>{{ edfa.curLaserTemp }}</td>
          <td>{{ edfa.curAmp }}</td>
          <td>{{ edfa.curInternalTemp }}</td>
          <td>{{ edfa.powerPd1 }}</td>
          <td>{{ edfa.powerSupply }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
