<div>

  <h1 class="page-header">Dashboard</h1>

  <edfa-info></edfa-info>

  <div class="block">
    <h2>Units list</h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>{{ global.mcu.label.operatingMode }}</th>
            <th>{{ global.mcu.label.curLaserTemp }}</th>
            <th>{{ global.mcu.label.curAmp }}</th>
            <th>{{ global.mcu.label.curInternalAmp }}</th>
            <th>{{ global.mcu.label.powerInput }}</th>
            <th>{{ global.mcu.label.powerOutput }}</th>
            <th>{{ global.mcu.label.powerSupply }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="dashboard-row" ng-repeat="mcu in global.mcu.list" ui-sref="mcu({mcuIndex: mcu.index})">
            <td>{{ mcu.index }}</td>
            <td>{{ mcu.operatingMode | mcuMode }}</td>
            <td ng-class="{'danger text-danger': mcu.hasAlarmOn('curLaserTemp')}">
              <span
                ng-show="mcu.hasAlarmOn('curLaserTemp')"
                class="glyphicon glyphicon-exclamation-sign text-danger pull-right"
                aria-hidden="true">
              </span>
              {{ mcu.curLaserTemp | numeraljs:'0.00' }}
            </td>
            <td ng-class="{'danger text-danger': mcu.hasAlarmOn('curAmp')}">
              <span
                ng-show="mcu.hasAlarmOn('curAmp')"
                class="glyphicon glyphicon-exclamation-sign text-danger pull-right"
                aria-hidden="true">
              </span>
							<span ng-if="mcu.lasers.length == 1">
								{{ mcu.curAmp | numeraljs:'0.00' }} mA
							</span>
							<span ng-if="mcu.lasers.length > 1" >
								<div class="row" >
									<span class="col-md-6">Laser #1: </span>
									<span class="col-md-6">{{ mcu.curAmp | numeraljs:'0.00' }} mA</span>
								</div>
								<div class="row" >
									<span class="col-md-6">Laser #2: </span>
									<span class="col-md-6">{{ mcu.curAmp2 | numeraljs:'0.00' }} mA</span>
								</div>
							</span>
            </td>
            <td>{{ mcu.curInternalAmp | numeraljs:'0.00' }}</td>
            <td ng-class="{'danger text-danger': mcu.hasAlarmOn('powerInput')}">
              <span
                ng-show="mcu.hasAlarmOn('powerInput')"
                class="glyphicon glyphicon-exclamation-sign text-danger pull-right"
                aria-hidden="true">
              </span>
              {{ mcu.powerInput | numeraljs:'0.00' }}
            </td>
            <td ng-class="{'danger text-danger': mcu.hasAlarmOn('powerOutput')}">
              <span
                ng-show="mcu.hasAlarmOn('powerOutput')"
                class="glyphicon glyphicon-exclamation-sign text-danger pull-right"
                aria-hidden="true">
              </span>
              {{ mcu.powerOutput | numeraljs:'0.00' }}
            </td>
            <td ng-class="{'danger text-danger': mcu.hasAlarmOn('powerSupply')}">
              <span
                ng-show="mcu.hasAlarmOn('powerSupply')"
                class="glyphicon glyphicon-exclamation-sign text-danger pull-right"
                aria-hidden="true">
              </span>
              {{ mcu.powerSupply | numeraljs:'0.00' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
