<div class="overlay" ng-show="dialogs.all().length > 0" ng-click="dialogs.close()"></div>
<div class="popup alert alert-{{ dialog.klass }} popup-{{ dialog.type }}" ng-repeat="dialog in dialogs.all()" ng-switch="dialog.type">
  <h4>{{ dialog.title }}</h4>
  <p ng-show="dialog.body">{{ dialog.body }}</p>
  <br />
  <button ng-show="dialog.type != 'modal'"
          class="btn btn-{{ dialog.klass }}"
          type="button" ng-click="dialog.close(true)">Ok</button>
  <button ng-show="dialog.type == 'confirm'"
          class="btn btn-default"
          type="button" ng-click="dialog.close(false)">Abort</button>
</div>
