<div>
  <h1 class="page-header">MCU #{{ mcu.detail.index }}</h1>

  <div class="row">
    <div class="col-md-6">

      <div class="block">
        <h2>Monitoring</h2>
        <div class="table-responsive">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td>{{ mcu.label.operatingMode }}</td>
                <td>{{ mcu.detail.operatingMode | mcuMode }}</td>
              </tr>
              <tr>
                <td>{{ mcu.label.ampConsign }}</td>
                <td>{{ mcu.detail.ampConsign }}</td>
              </tr>
              <tr>
                <td>{{ mcu.label.gainConsign }}</td>
                <td>{{ mcu.detail.gainConsign }}</td>
              </tr>
              <tr>
                <td>{{ mcu.label.outputPowerConsign }}</td>
                <td>{{ mcu.detail.outputPowerConsign }}</td>
              </tr>
              <tr>
                <td>{{ mcu.label.curLaserTemp }}</td>
                <td>{{ mcu.detail.curLaserTemp }}</td>
              </tr>
              <tr>
                <td>{{ mcu.label.curAmp }}</td>
                <td>{{ mcu.detail.curAmp }}</td>
              </tr>
              <tr>
                <td>{{ mcu.label.curInternalAmp }}</td>
                <td>{{ mcu.detail.curInternalAmp }}</td>
              </tr>
              <tr>
                <td>{{ mcu.label.powerInput }}</td>
                <td>{{ mcu.detail.powerInput }}</td>
              </tr>
              <tr>
                <td>{{ mcu.label.powerOutput }}</td>
                <td>{{ mcu.detail.powerOutput }}</td>
              </tr>
              <tr>
                <td>{{ mcu.label.powerSupply }}</td>
                <td>{{ mcu.detail.powerSupply }}</td>
              </tr>
              <tr>
                <td>{{ mcu.label.inputLossThreshold }}</td>
                <td>{{ mcu.detail.inputLossThreshold }}</td>
              </tr>
              <tr>
                <td>{{ mcu.label.outputLossThreshold }}</td>
                <td>{{ mcu.detail.outputLossThreshold }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="col-md-6">

      <div class="block">
        <h2>Control</h2>

        <form role="form" ng-submit="mcu.setOperatingMode()">

          <div class="form-group">
            <label>Operating mode</label>
            <select ng-model="mcu.detail.operatingMode"
                    ng-change="mcu.showControlValue()" class="form-control">
              <option ng-repeat="(id, info) in mcu.modeID" value="{{ id }}">{{ info.name }}</option>
            </select>
          </div>

          <div class="form-group" ng-if="mcu.detail.operatingMode != mcu.mode.OFF">
            <label>Value in {{ mcu.modeID[mcu.detail.operatingMode].valueType }}</label>
            <input type="text" ng-model="mcu.controlValue" class="form-control" />
          </div>

          <button type="submit" class="btn btn-primary">Set</button>
        </form>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-12">

      <div class="block">

        <h2>Identity</h2>

        <div class="row">

          <div class="col-sm-6">
            <div class="table-responsive">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <td>{{ mcu.label.vendor }}</td>
                    <td>{{ mcu.detail.vendor }}</td>
                  </tr>
                  <tr>
                    <td>{{ mcu.label.moduleType }}</td>
                    <td>{{ mcu.detail.moduleType }}</td>
                  </tr>
                  <tr>
                    <td>{{ mcu.label.partNum }}</td>
                    <td>{{ mcu.detail.partNum }}</td>
                  </tr>
                  <tr>
                    <td>{{ mcu.label.serialNum }}</td>
                    <td>{{ mcu.detail.serialNum }}</td>
                  </tr>
                  <tr>
                    <td>{{ mcu.label.productDate }}</td>
                    <td>{{ mcu.detail.productDate }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="table-responsive">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <td>{{ mcu.label.hwVer }}</td>
                    <td>{{ mcu.detail.hwVer }}</td>
                  </tr>
                  <tr>
                    <td>{{ mcu.label.hwRev }}</td>
                    <td>{{ mcu.detail.hwRev }}</td>
                  </tr>
                  <tr>
                    <td>{{ mcu.label.swVer }}</td>
                    <td>{{ mcu.detail.swVer }}</td>
                  </tr>
                  <tr>
                    <td>{{ mcu.label.fwVer }}</td>
                    <td>{{ mcu.detail.fwVer }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div> <!-- row -->

      </div>

    </div> <!-- row -->

</div>
