<h1 class="page-header">Unit #{{ mcu.detail.index }}</h1>

<div class="row">
    <div class="col-md-6">

        <div class="block">
            <h2>Monitoring</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                        <tr class="danger text-danger" ng-repeat="alarm in mcu.detail.alarms()">
                            <td colspan="3">{{ alarm.data.msg }}
                                <span class="glyphicon glyphicon-exclamation-sign text-danger pull-right"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ mcu.label.operatingMode }}</td>
                            <td>{{ mcu.detail.operatingMode | mcuMode }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{ mcu.label.ampConsign }}</td>
                            <td>{{ mcu.detail.ampConsign }}</td>
                            <td>mA</td>
                        </tr>
                        <tr ng-if="mcu.detail['number_of_laser'] > 1">
                            <td>{{ mcu.label.ampConsign }} (laser #2)</td>
                            <td>{{ mcu.detail.ampConsign2 }}</td>
                            <td>mA</td>
                        </tr>
                        <tr>
                            <td>{{ mcu.label.gainConsign }}</td>
                            <td>{{ mcu.detail.gainConsign }}</td>
                            <td>dB</td>
                        </tr>
                        <tr>
                            <td>{{ mcu.label.outputPowerConsign }}</td>
                            <td>{{ mcu.detail.outputPowerConsign }}</td>
                            <td>dBm</td>
                        </tr>
                        <tr ng-class="{'danger text-danger': mcu.detail.hasAlarmOn('curLaserTemp')}">
                            <td>{{ mcu.label.curLaserTemp }}</td>
                            <td>
                                <span ng-show="mcu.detail.hasAlarmOn('curLaserTemp')" class="glyphicon glyphicon-exclamation-sign text-danger pull-right" aria-hidden="true">
                </span> {{ mcu.detail.curLaserTemp | numeraljs:'0.00' }}
                            </td>
                            <td>&deg;C</td>
                        </tr>
                        <tr ng-class="{'danger text-danger': mcu.detail.hasAlarmOn('curAmp')}">
                            <td>{{ mcu.label.curAmp }}</td>
                            <td>
                                <span ng-show="mcu.detail.hasAlarmOn('curAmp')" class="glyphicon glyphicon-exclamation-sign text-danger pull-right" aria-hidden="true">
                </span> {{ mcu.detail.curAmp | numeraljs:'0.00' }}
                            </td>
                            <td>mA</td>
                        </tr>
                        <tr ng-if="mcu.detail['number_of_laser'] > 1">
                            <td>{{ mcu.label.curAmp }} (laser #2)</td>
                            <td>
                                {{ mcu.detail.curAmp2 | numeraljs:'0.00' }}
                            </td>
                            <td>mA</td>
                        </tr>
                        <tr ng-class="{'danger text-danger': mcu.detail.hasAlarmOn('curInternalAmp')}">
                            <td>{{ mcu.label.curInternalAmp }}</td>
                            <td>
                                <span ng-show="mcu.detail.hasAlarmOn('curInternalTemp')" class="glyphicon glyphicon-exclamation-sign text-danger pull-right" aria-hidden="true">
                </span> {{ mcu.detail.curInternalAmp | numeraljs:'0.00' }}
                            </td>
                            <td>&deg;C</td>
                        </tr>
                        <tr ng-class="{'danger text-danger': mcu.detail.hasAlarmOn('powerInput')}">
                            <td>{{ mcu.label.powerInput }}</td>
                            <td>
                                <span ng-show="mcu.detail.hasAlarmOn('powerInput')" class="glyphicon glyphicon-exclamation-sign text-danger pull-right" aria-hidden="true">
                </span> {{ mcu.detail.powerInput | numeraljs:'0.00' }}
                            </td>
                            <td>dBm</td>
                        </tr>
                        <tr ng-class="{'danger text-danger': mcu.detail.hasAlarmOn('powerOutput')}">
                            <td>{{ mcu.label.powerOutput }}</td>
                            <td>
                                <span ng-show="mcu.detail.hasAlarmOn('powerOutput')" class="glyphicon glyphicon-exclamation-sign text-danger pull-right" aria-hidden="true">
                </span> {{ mcu.detail.powerOutput | numeraljs:'0.00'}}
                            </td>
                            <td>dBm</td>
                        </tr>
                        <tr ng-class="{'danger text-danger': mcu.detail.hasAlarmOn('powerSupply')}">
                            <td>{{ mcu.label.powerSupply }}</td>
                            <td>
                                <span ng-show="mcu.detail.hasAlarmOn('powerSupply')" class="glyphicon glyphicon-exclamation-sign text-danger pull-right" aria-hidden="true">
                </span> {{ mcu.detail.powerSupply | numeraljs:'0.00' }}
                            </td>
                            <td>V</td>
                        </tr>
                        <tr>
                            <td>{{ mcu.label.overallGain }}</td>
                            <td>
                                {{ mcu.detail.overallGain | numeraljs:'0.00' }}
                            </td>
                            <td>dB</td>
                        </tr>
                        <tr>
                            <td>{{ mcu.label.gainBeforeVoa }}</td>
                            <td>{{ mcu.detail.gainBeforeVoa | numeraljs:'0.00' }}</td>
                            <td>dB</td>
                        </tr>
                        <tr>
                            <td>{{ mcu.label.voaAttenuation }}</td>
                            <td>{{ mcu.detail.voaAttenuation | numeraljs:'0.00' }}</td>
                            <td>dB</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-md-6">

        <div class="block">
            <div usb-disabled>
                <h2>Operating Mode</h2>

                <p class="alert alert-info" ng-hide="mcu.controlMode">
                    Loading...
                </p>

                <form role="form" class="form-horizontal" ng-submit="mcu.setOperatingMode()" ng-show="mcu.controlMode">

                    <div class="form-group">
                        <label class="col-md-4 control-label">Operating mode</label>
                        <div class="col-md-8">
                            <select ng-model="mcu.controlMode" ng-change="mcu.updateControlValue()" class="form-control" ng-options="id as mode.name for (id, mode) in
                      mcu.modeID">
              </select>
                        </div>
                    </div>

                    <div class="form-group" ng-if="mcu.controlMode != mcu.mode.OFF && mcu.controlMode != mcu.mode.CC">
                        <label class="col-md-4 control-label">Value in {{ mcu.modeID[mcu.controlMode].valueType }}</label>
                        <div class="col-md-4">
                            <input type="text" ng-model="mcu.controlValue" class="form-control" />
                        </div>
                        <div class="col-md-4" ng-if="mcu.controlMode == mcu.mode.GC">
                            Min {{ mcu.detail.gcMin }} dB / Max {{ mcu.detail.gcMax }} dB
                        </div>
                        <div class="col-md-4" ng-if="mcu.controlMode == mcu.mode.PC">
                            Min {{ mcu.detail.pcMin }} dBm / Max {{ mcu.detail.pcMax }} dBm
                        </div>
                    </div>

                    <div class="form-group" ng-if="mcu.controlMode == mcu.mode.CC">
                        <label class="col-md-4 control-label">
							Value in {{ mcu.modeID[mcu.controlMode].valueType }}
							<span ng-if="mcu.detail['number_of_laser'] > 1" >(laser #1)</span>
						</label>
                        <div class="col-md-4">
                            <input type="text" ng-model="mcu.controlValues[0]" class="form-control" ng-disabled="{{ !mcu.detail['has_settable_LD1']}}" />
                        </div>
                        <div class="col-md-4">
                            Max {{ mcu.detail.ccMax1 }} mA
                        </div>
                    </div>

                    <div class="form-group" ng-if="mcu.detail['number_of_laser'] > 1 && mcu.controlMode == mcu.mode.CC">
                        <label class="col-md-4 control-label">Value in {{ mcu.modeID[mcu.controlMode].valueType }} (laser #2)</label>
                        <div class="col-md-4">
                            <input type="text" ng-model="mcu.controlValues[1]" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            Max {{ mcu.detail.ccMax2 }} mA
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <label>
                <input type="checkbox" ng-model="mcu.applyAllControl" />
                Apply to all amps
              </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" class="btn btn-primary">Set</button>
                        </div>
                    </div>
                </form>

                <h2>Alarm Settings</h2>

                <form role="form" class="form-horizontal" ng-submit="mcu.setThresholds()">

                    <div class="form-group">
                        <label class="col-md-4 control-label">Loss of input power threshold (dBm)</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="mcu.inputLossThreshold" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Loss of output power threshold (dBm)</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="mcu.outputLossThreshold" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <label>
                <input type="checkbox" ng-model="mcu.applyAllThreshold" />
                Apply to all amps
              </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" class="btn btn-primary">Set</button>
                        </div>
                    </div>

                </form>
            </div>

            <usb-alert />

        </div>
    </div>

</div>