<h1 class="page-header">System</h1>

<div class="row">

  <div class="col-md-6">

    <div class="block">
      <h2>Network</h2>

      <form role="form" ng-submit="system.networkSave()">
        <div class="form-group">
          <label>Configuration mode</label>
          <select ng-model="system.network.type" class="form-control">
            <option value="dhcp">DHCP (Automatic)</option>
            <option value="static">Manual configuration</option>
          </select>
        </div>

        <div class="form-group" ng-if="system.network.type == 'static'">
          <label>IP Address</label>
          <input type="text" ng-model="system.network.ip" class="form-control" />
        </div>

        <div class="form-group" ng-if="system.network.type == 'static'">
          <label>Netmask</label>
          <input type="text" ng-model="system.network.netmask" class="form-control" />
        </div>

        <div class="form-group" ng-if="system.network.type == 'static'">
          <label>Gateway</label>
          <input type="text" ng-model="system.network.gateway" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Apply</button>
      </form>
    </div>

    <div class="block">
      <h2>Upgrade</h2>

      <p class="text-info">{{ system.firmware.id }} version <strong>{{ system.firmware.version }}</strong></p>

      <form role="form" >
        <div class="form-group">
          <label>Firmware file</label>

          <input type="file" nv-file-select="" uploader="system.uploader" class="form-control"
		 ng-show="!system.uploader.queue.length"/>

	  <div ng-repeat="item in system.uploader.queue">
	    <div >
	      <span class="push-left">
		<strong>{{ item.file.name }}</strong>
		<span ng-show="system.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</span>
	      </span>
	      <span class="push-right">
		<span ng-show="system.uploader.isHTML5">
		  <div class="progress" style="margin-bottom: 0;">
		    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
		  </div>
		</span>
		<span class="text-center">
		  <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
		  <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
		  <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
		</span>
	      </span>
	    </div>
	    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
	      <span class="glyphicon glyphicon-upload"></span> Upgrade
	    </button>
	    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
	      <span class="glyphicon glyphicon-trash"></span> Cancel
	    </button>
	  </div>
        </div>
      </form>
    </div>

  </div>

  <div class="col-md-6">

    <div class="block">
      <h2>Security</h2>

      <form name="security" role="form" ng-submit="system.securitySave()">
        <div class="form-group">
          <label>Password</label>
          <input type="password" ng-model="system.password.password" name="password"
                 class="form-control" autocomplete="off" />
          <p class="help-block">Admin and SNMPv3 (when enabled) password</p>
        </div>
        <div class="form-group" ng-class="{'has-error': security.confirm.$error.compareTo}">
          <label>Confirm password</label>
          <input type="password" name="confirm" ng-model="system.password.confirm"
                 class="form-control" compare-to="system.password.password" />
          <p>{{ system.password.confirm.$error }}</p>
          <span class="text-danger" ng-show="security.confirm.$error.compareTo">Passwords don't match</span>
        </div>

        <div class="form-group">
          <label>Public community</label>
          <input type="text" ng-model="system.community.public" class="form-control" />
        </div>

        <div class="form-group">
          <label>Restricted community</label>
          <input type="text" ng-model="system.community.restricted" class="form-control" />
        </div>

        <div class="checkbox">
          <label ng-repeat="(protocol, enabled) in system.protocol">
            <input type="checkbox" ng-model="system.protocol[protocol]" /> {{ protocol }}
          </label>
        </div>

        <button type="submit" class="btn btn-primary">Apply</button>
      </form>
    </div>

    <div class="block">
      <br />
      <button type="button" class="btn btn-warning btn-block" ng-click="system.reboot()">Reboot</button>
      <br />
    </div>

  </div>

</div>
