<h1 class="page-header">System</h1>

<div class="row">

  <div class="col-md-6">

    <div class="block">
      <h2>Network</h2>

      <form role="form" ng-submit="system.networkSave()">
        <div class="form-group">
          <label>Configuration mode</label>
          <select ng-model="system.network.type" class="form-control">
            <option value="dhcp">DHCP (Automatic)</option>
            <option value="static">Manual configuration</option>
          </select>
        </div>

        <div class="form-group" ng-if="system.network.type == 'static'">
          <label>IP Address</label>
          <input type="text" ng-model="system.network.ip" class="form-control" />
        </div>

        <div class="form-group" ng-if="system.network.type == 'static'">
          <label>Netmask</label>
          <input type="text" ng-model="system.network.netmask" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Apply</button>
      </form>
    </div>

    <div class="block">
      <h2>Upgrade</h2>

      <p class="text-info">Firmware version <strong>{{ system.firmware.version }}</strong></p>

      <form role="form" >
        <div class="form-group">
          <label>Firmware file</label>

          <input type="file" nv-file-select="" uploader="system.uploader" class="form-control"
          ng-show="!system.uploader.queue.length"/>

          <div ng-repeat="item in system.uploader.queue">
            <div >
              <span class="push-left">
                <strong>{{ item.file.name }}</strong>
                <span ng-show="system.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</span>
              </span>
              <span class="push-right">
                <span ng-show="system.uploader.isHTML5">
                  <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                  </div>
                </span>
                <span class="text-center">
                  <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </span>
              </span>
            </div>
            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
              <span class="glyphicon glyphicon-upload"></span> Upgrade
            </button>
            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
              <span class="glyphicon glyphicon-trash"></span> Cancel
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="block">
      <h2>SNMP trap targets</h2>

      <form name="targets" role="form" ng-submit="system.targetsSave()">
        <div class="form-group">
          <label>Target 1 (IP address or FQDN)</label>
          <input type="text" ng-model="system.targets.target1" class="form-control" />
        </div>
        <div class="form-group">
          <label>Target 2 (IP address or FQDN)</label>
          <input type="text" ng-model="system.targets.target2" class="form-control" />
        </div>
        <div class="form-group">
          <label>Target 3 (IP address or FQDN)</label>
          <input type="text" ng-model="system.targets.target3" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Apply</button>
      </form>
    </div>

  </div>

  <div class="col-md-6">

    <div class="block">
      <h2>Security</h2>

      <form name="security" role="form" ng-submit="system.securitySave()" >
	<div class="block" >
	  <h4>HTTP security</h4>
	  
          <div class="form-group row">
	    <label>Login</label>
	    <input type="text" disabled value="admin" class="form-control"></input>
	  </div>
	  
	  <div>
            <label>Password</label>
            <input type="password" ng-model="system.password.password" name="password"
                   class="form-control" autocomplete="off" />
          </div>
          <div class="form-group" ng-class="{'has-error': security.confirm.$error.compareTo}">
            <label>Confirm password</label>
            <input type="password" name="confirm" ng-model="system.password.confirm"
                   class="form-control" compare-to="system.password.password" />
            <p>{{ system.password.confirm.$error }}</p>
            <span class="text-danger" ng-show="security.confirm.$error.compareTo">Passwords don't match</span>
          </div>
	  
	</div>
	
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="system.protocol['snmpv1']" /> SNMP v1
          </label>
          <label>
            <input type="checkbox" ng-model="system.protocol['snmpv2']" /> SNMP v2c
          </label>
          <label>
            <input disabled type="checkbox" ng-model="system.protocol['snmpv3']" /> SNMP v3
          </label>
        </div>

	<div class="block" ng-if="system.protocol['snmpv1'] || system.protocol['snmpv2']">
	  <h4>SNMP v1/v2c security </h4>

          <div class="form-group">
            <label>Public community (read-only)</label>
            <input type="text" ng-model="system.community.public" class="form-control" />
          </div>
	  
          <div class="form-group">
            <label>Private community (read-write)</label>
            <input type="text" ng-model="system.community.restricted" class="form-control" />
          </div>
	</div>

	<div class="block" ng-if="system.protocol['snmpv3']">
	  <h4>SNMPv3 Security</h4>

	  <div class="form-group">
	    <label>Security Name</label>
	    <input type="text" disabled ng-value="system.community.username"></input>
	  </div>

	  <div class="form-group">
	    <label>Security Context</label>
	    <input type="text" disabled ng-value="system.community.engine"></input>
	  </div>

	  <div class="form-group">
	    <label>Security level</label>
	    <input type="radio" ng-model="system.community.level" value="noauthnopriv">NoAuthNoPriv</input>
	    <input type="radio" ng-model="system.community.level" value="authnopriv">AuthNoPriv</input>
	    <input type="radio" ng-model="system.community.level" value="authpriv">AuthPriv</input>
	  </div>

	  <div class="form-group" ng-if="system.community.level != 'noauthnopriv'">
	    <label>Authentication Protocol</label>
	    <input type="radio" ng-model="system.community.auth" value="usmHMACMD5AuthProtocol">MD5</input>
	    <input type="radio" ng-model="system.community.auth" value="usmHMACSHAAuthProtocol">SHA</input>
	  </div>

	  <div class="form-group" ng-if="system.community.level != 'noauthnopriv'">
	    <label>Authentication Key (passphrase)</label>
	    <input name="authKey" type="input" autocomplete="off" model="system.community.authKey"
		   ng-minlength="8" ng-class="{ 'has-error': security.authKey.$error.minlength }"/>
	    <span class="text-danger" ng-show="security.authKey.$dirty && security.authKey.$error" >
	      Passphrase must be at least 8 characters long
	    </span>
	  </div>

	  <div class="form-group" ng-if="system.community.level == 'authpriv'">
	    <label>Privacy Protocol</label>
	    <input type="radio" ng-model="system.community.priv" value="usmAesCfb128Protocol">AES</input>
	    <input type="radio" ng-model="system.community.priv" value="usmDESPrivProtocol">DES</input>
	  </div>

	  <div class="form-group" ng-if="system.community.level == 'authpriv'">
	    <label>Private Key (passphrase)</label>
	    <input type="input" autocomplete="off" model="system.community.privKey" />
	  </div>
	</div>

        <button type="submit" class="btn btn-primary">Apply</button>
      </form>
    </div>

    <div class="block">
      <div class="row">
        <div class="col-sm-6">
          <br />
          <button type="button" class="btn btn-warning btn-block" ng-click="system.reset()">Reset to factory defaults</button>
          <br />
        </div>
        <div class="col-sm-6">
          <br />
          <button type="button" class="btn btn-warning btn-block" ng-click="system.reboot()">Reboot</button>
          <br />
        </div>
      </div>
    </div>

  </div>

</div>
