[
 {bkfw, 
  [
   {com, "/dev/pts/3"},
   {slots_period, 10000},
   {mcu_period, 2000},
   {timeout, 2000}
  ]
 },
 {snmp,
  [{agent,
    [
     {versions, [v1,v2,v3]},
     {agent_type, master},
     {multi_threaded, false},
     {mib_server, []},
     {config, [{dir, "snmp/agent/conf/"}]},
     {db_dir, "snmp/agent/db/"},
     {net_if, [
	       {module, snmpa_net_if},
	       {verbosity, info},
	       {bind_to, false}
	      ]}
    ]}]
 }
].
