/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 135px;
}

h1 {
  font-size: 30px;
}

h1.page-header {
  margin-top: 0px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
    height: 115px;
}

/*
 * Main content
 */
.content {
  border-left: 2px solid #aaa;
  padding-left: 20px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.form-signin-heading {
  margin-top: 40px;
}

.dashboard-row {
  cursor: pointer;
}

.block {
  background: #fafafa;
  border: 1px solid #ccc;
  padding: 0px 20px;
  margin-bottom: 30px;
}

.block h2 {
  font-size: 26px;
}

.table {
  background: white;
}

form {
  margin-bottom: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 800  ;
  background-color: rgba(0,0,0,0.5);
}

.popup {
  width: 300px;
  position: fixed;
  z-index: 900;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.popup-traceback {
  margin-left: -35%;
  width: 70%;
}

.popup-traceback pre {
  max-height: 300px;
  overflow: auto;
}

div.checkbox label {
  margin-right: 1em;
}
