/*
 * Common elements
 */

body {
  font-size: 13px;
}

.top-nav {
    background-color: #ffffff;
}

h1 {
  font-size: 25px;
}

h1.page-header {
  margin-top: 0px;
}

/*
 * Upper nav logo
 */
.logo {
  height: 117px;
}

.top-nav {
  margin-bottom: 0px;
  border-radius: 0px;
}

/*
 * Main content
 */
.page {
  padding-top: 20px;
}

.form-signin-heading {
  margin-top: 40px;
}

.dashboard-row {
  cursor: pointer;
}

.block {
  background: #fafafa;
  border: 1px solid #ccc;
  padding: 0px 20px;
  margin-bottom: 30px;
}

.block h2 {
  font-size: 20px;
}

.block table {
  border: 1px solid #ddd;
}

.table {
  background: white;
}

form {
  margin-bottom: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 800  ;
  background-color: rgba(0,0,0,0.5);
}

.popup {
  width: 400px;
  position: fixed;
  z-index: 900;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.popup-traceback {
  margin-left: -35%;
  width: 70%;
}

.popup-traceback pre {
  max-height: 300px;
  overflow: auto;
}

div.checkbox label {
  margin-right: 1em;
}

.edfa {
  background-color: #DFF1FF;
  border-color: #337AB7;
}

.edfa table tr {
  background-color: #EDF7FF;
}

.edfa table tr:hover {
  background-color: #DFF1FF;
}

.edfa table td {
  border: 0px !important;
}
