[
  {bkfw,
  [
   {net, "/etc/network/interfaces"},
   {netif, "eth0"},
   {com, "/dev/ttyAMA0"},
   {usbtty, "/dev/ttyUSB0"}
  ]
 },

 {snmp,
  [{agent,
    [
     {versions, [v1,v2]},
     {agent_type, master},
     {multi_threaded, false},
     {mib_server, []},
     {config, [{dir, "snmp/agent/conf/"}]},
     {db_dir, "snmp/agent/db/"},
     {agent_verbosity, info},
     {net_if, [
	       {module, snmpa_net_if},
	       {verbosity, info},
	       {bind_to, false}
	      ]}
    ]}]
 },

 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 "/var/lib/bkfw/factory",
 "/var/lib/bkfw/user"
].
