[
  {bkfw, 
  [
   {com, "/dev/pts/3"},
   {slots_period, 10000},
   {mcu_period, 2000},
   {timeout, 2000},
   {max_queue, 1000},
   {http, [{port, 8080}]}
  ]
 },

 {snmp,
  [{agent,
    [
     {versions, [v1,v2,v3]},
     {agent_type, master},
     {multi_threaded, false},
     {mib_server, []},
     {config, [{dir, "snmp/agent/conf/"}]},
     {db_dir, "snmp/agent/db/"},
     {verbosity, debug},
     {net_if, [
	       {module, snmpa_net_if},
	       {verbosity, debug},
	       {bind_to, false}
	      ]}
    ]}]
 },

 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

